body{
    font-family: Arial, sans-serif;
    margin-left: 1%;
    margin-right: 1%;
    padding: 0px;
    background-color: white;
    font-size: 20px;
}
/* .page-1{
    height:80vh;
} */
.heading{
    width:60%;
    overflow-x: none;
}
.subheading em{
    color:rgb(230, 56, 56);
    font-weight: bold;
}
.grid{
    display: grid;
grid-template-columns: 3fr 8fr repeat(3, 1fr) 11fr 1fr  24fr;
grid-template-rows: 1fr 1fr 1fr 5fr repeat(3, 1fr) 5fr 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
    /* height: 70vh; */
}

.year-box, .product-box{
    border: 4px dashed blue;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    font-size: 60px; 
}
.year-box{
    grid-area:3/1/7/5;
}
.product-box{
   grid-area:6/4/10/7;
}

.calendar{
    /* display: inline; */
    grid-area: 1/1/4/2;
    /* background-color: rebeccapurple; */
}
.dollar{
    grid-area:5/3/8/6;
    /* background-color: aquamarine; */
}
.calendar-text{
    grid-area: 2/2/3/3;
    /* text-align: center; */
    font-weight: bold;
}
.dollar-text{
    grid-area: 5/6/6/7;
    /* text-align: center; */
    font-weight: bold;
}
img{
    position: relative;
    width: 95%;
    z-index: 10;
}
.year-Description{
    grid-area: 4/6/6/9;
}
.product-Description{
    grid-area:7/8/9/9;
}


/* page 2  */


.grid-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    /* height:100vh; */
    grid-gap: 20px;
}
/* .page-2{
    height:100vh;
} */
/* .page-2{
    margin-top: -20%;
} */
.heading{
    color:rgb(71, 68, 68);
}
.page-2-images{
    grid-column:1/2;
    grid-row:1/5;
} 
.page-2-description{
    grid-column:2/3 ;
    grid-row:2/5;
}
/* ---------------PAGE-3---------------- */
 /* .page-3{
    height:60vh;
}  */
.page-3-container{
    display:flex;
    justify-content: space-around;
}
.page-3 .headLine{
    margin-top: 5%;
    text-align: center;
    font-size: 34px;
    font-weight: bold;
}

.page-3 .card-3 img{
    width:100%; 
    height: 70%;
    object-fit: cover;
}

.page-3-card{
    width:300px;
    text-align: center;
}
.page-3 img{
    height: 200px;
    width:200px;
}


/* page 4 */


.page-4 img{
   /* width:150px;
   height:150px; */
    width:100%; 
    height: 70%;
    object-fit: cover;
    
}
/* .page-4{
    height:80vh;
} */
.page-4-container{
    margin-top: 5%;
    display:flex;
    justify-content: space-around;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 3%;
}
.page-4-card{
    display: flex;
    flex-direction: column;
    width:200px;
    text-align: center;
    justify-content: flex-start;
}
/* page 5 */
.page-5 img{
    width: 230px;
    height: 200px;
    /* width:100%; 
    height: 70%;
    object-fit: cover; */
}
.page-5{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:5px;
    /* height:80vh; */
}
.page5 .card1{
    grid-row:1/2;
    grid-column: 1/2;
}
.page5 .card2{
    grid-row:1/2;
    grid-column: 2/3;
}
.page5 .card3{
    grid-row:1/2;
    grid-column: 3/4;
}
.page5 .card4{
    grid-row:2/3;
    grid-column: 1/2;
}
.page5 .card5{
    grid-row:2/3;
    grid-column: 2/3;
}
.page5 .card6{
    grid-row:2/3;
    grid-column: 3/4;
}
.page-5-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}



/* media queries  -- css for small devices*/

@media only screen and (max-width: 768px) {
    body{
        font-family: Arial, sans-serif;
        /* margin-left: 2%; */
        /* margin-right: 1%; */
        padding: 0px;
        /* background-color: white; */
        font-size: 20px;
    }
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .page-1,.page-2,.page-3,.page-4,.page-4,.page-5{
        padding-bottom: 10%;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .heading{
        /* width:100vw; */
        font-size: 30px;
        color:rgb(71, 68, 68);
        /* height:auto; */
    }
    .realHeading{
        width: 100% !important;
        text-align: center;
        font-size: 14px;
        padding-bottom: 1%;
    }
    .page-4 .heading{
        font-size: 30px;
    }

    /* page 1 */

    .subheading em{
        color:rgb(230, 56, 56);
        font-weight: bold;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr 8fr;
        grid-template-rows: 20px 1fr 3fr 6fr 20px 1fr 3fr 4fr;
        grid-column-gap: 0px;
        grid-row-gap: 10px;
        width:80vw;
        }
    .year-box, .product-box{
        border: 4px dashed blue;
        border-radius: 20px;
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        font-size: 60px; 
        height:120px;
    }
    .year-box{
        grid-area:2/1/4/3;

    }
    .product-box{
       grid-area:6/1/8/3;
    }
    .calendar{
        /* display: inline; */
        grid-area: 1/1/3/2;
        width: 50px;
        /* background-color: rebeccapurple; */
    }
    .dollar{
        grid-area:5/1/7/2;
        width: 50px;
        /* background-color: aquamarine; */
    }
    .calendar-text{
        grid-area: 1/2/2/3;
        text-align:left;
        font-weight: bold;
    }
    .dollar-text{
        grid-area: 5/2/6/3;
        text-align: left;
        font-weight: bold;
    }
    img{
        position: relative;
        width: 95%;
        z-index: 10;
    }
    .year-Description{
        grid-area: 4/1/5/3;
        margin-bottom: 5vh;
    }
    .product-Description{
        grid-area:8/1/9/3;
    }



    /* page 2  */
    .page-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* height:auto; */
        /* margin-bottom: -50%; */
    }
    .grid-container{
        display: block;
    }
    .page-2 img{
        width: 80vw;
        align-content: center;
    }


    /* page 3 */

    .page-3{
         /* height:auto; */
        /* margin-bottom: 10%; */
    } 
    .page-3-container{
        margin-top: 5%;
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .page-3 .headLine{
        margin-top: 5%;
        /* grid-column: 2/3;
        grid-row:2/3; */
        text-align: center;
        font-size: 34px;
        font-weight: bold;
    }
   
   
    .page-3 .card-3 img{
        width:100%; 
        height: 70%;
        object-fit: cover;
    }
   
    .page-3-card{
        width:300px;
        text-align: center;
    }
    .page-3 img{
        height: 200px;
        width:200px;
    }


    /* page 4 */

    .page-4 img{
        /* width:150px;
        height:150px; */
         width:100%; 
         height: 70%;
         object-fit: cover;
         
     }
     .page-4{
         /* margin-left : 2%;
         margin-right : 2%; */
        /* margin-bottom:  120%; */
        /* height:auto; */
     }
     .page-4-container{
         margin-top: 5%;
         display:flex;
         flex-direction: column;
         justify-content: space-around;
         align-items: center;
         margin-bottom: 3%;
     }
     .page-4-card{
         display: flex;
         flex-direction: column;
         width:200px;
         text-align: center;
         justify-content: flex-start;
     }

    /* page 5 */
    .page-5{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,1fr);
        gap:5px;
        /* margin-bottom: 10%; */
        /* height: auto; */
    }
    .page-5-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items :center;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }

    .page-5 img{
        margin-top: 20px;
        width: 90% ; 

         /* width:100%; 
        height: 70%; */
        /* object-fit: cover; */
    }
    .page-5 .card4 img{
        width:200px;
    }
    .page-5 .card2 img{
        width:340px;
        height:220px;
    }
    

  }

